<!DOCTYPE html>
<html>
  <head>
    <title>ExoticFood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <div class="col-5 links">
    <%= link_to 'Contribute', new_exoticfood_path %>
  </div>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
